*{
    padding: 0;
    margin: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    border: solid black 2px;
    display: flex;
    margin: auto;
    background-color: beige;
    justify-content: center;
    align-items: center;
}
.box{
    width: 300px;
    height: 300px;
    border: solid black 2px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s linear 0s;
    
}
.box:hover{
    /* transform: rotate(360deg); */
    /* transform: scale(0.4); */
    /* transform: translate(300px,300px) */
    /* transform: skewY(10deg); */
    /* transform: scale(2,0.5); */
    /* transform: rotate(0.5turn); */
    /* transform: rotate(360deg) translate(300px,200px); */
    /* transform: translateX(10px) rotate(10deg) translateY(5px); */
    /* transform: perspective(500px) translate(10px, 0, 20px) rotateY(3deg); */
    transform: rotate(15deg) skew(10deg) translate(200px) scale(.8);

}
p{
    font-size: 28px;
     
}